* {
  margin: 0;
  padding: 0;
}
header {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  background-color: #00343d;
}

.navbar-nav {
  background-color: #00343d;
  font-family: "Oleo Script", sans-serif;
  list-style: none;
  font-size: 2rem;
  opacity: 0.8;
}
.navbar-nav li a:hover {
  background-color: rgb(255, 176, 127);
  color: #00343d;
  border-radius: 10px;
}
.navbar-nav a {
  color: aliceblue;
}
main {
  margin-top: 80px;
}
.container-main {
  height: 750px;
}
.container-hero {
  padding: 30px 100px 30px 100px;
  height: 100vh;
}
.div-hero {
  padding: 50px;
}
.bg-color-principal {
  background-color: #054a50;
}
.bg-color-secundario {
  background-color: #d0ecee;
}
.bg-color-tercero {
  background-color: rgb(255, 176, 127);
}
.bg-color-cuarto {
  background-color: #00343d;
}
.offcanvas-header h2 {
  font-family: "Oleo Script", sans-serif;
  opacity: 0.8;
}
.offcanvas-header button {
  background-color: whitesmoke;
}
nav .navbar-toggler {
  background-color: whitesmoke;
}
.img-hero {
  width: 450px;
  height: 650px;
  margin-top: 50px;
}
.titulo {
  margin-top: 100px;
  font-size: 60px;
  color: #054a50;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: bold;
}
main p {
  margin-top: 50px;
  text-align: center;
  color: #43676d;
  font-family: "Oleo Script", sans-serif;
  font-size: 50px;
  padding: 20px;
}
.icono {
  margin: 30px 50px 30px 50px;
  width: 50px;
  color: white;
  border: 2px solid whitesmoke;
  border-radius: 10px;
  padding: 10px;
}
.icono:hover {
  background-color: rgb(255, 176, 127);
}
.section-productos {
  margin-top: 80px;
  justify-content: center;
}
.row {
  --bs-gutter-x: 0;
}
.card {
  width: 400px;
}
.precio {
  margin: 0;
  font-size: 50px;
  color: rgb(255, 176, 127);
}
.card-text {
  font-size: larger;
  margin: 20px;
  color: aliceblue;
}
.div-hero:last-child:hover {
  background-color: #d0ecee;
}
.titulo-producto {
  margin-top: 80px;
  font-family: "Oleo Script", sans-serif;
  color: #1f5761;
  font-size: 80px;
}
.card-title {
  margin: 10px;
  font-size: 30px;
  color: #d0ecee;
}
/* main sección del registro html */
.containerRegistro {
  width: 100%;
  height: 100vh;
  margin-top: 80px;
  background-color: rgb(255, 176, 127);
  text-align: center;
}
.registroTexto {
  font-size: 40px;
  margin: 50px;
  color: #1f5761;
  font-family: "Oleo Script", sans-serif;
}
.formulario {
  text-align: left;
  display: inline-block;
  width: 530px;
  height: 700px;
  background-color: #00343d;
  border-radius: 30px;
  padding: 50px;
}
.formulario label {
  margin-left: 20px;
  font-size: larger;
  font-weight: bold;
  color: rgb(255, 176, 127);
  font-family: "Be Vietnam Pro", sans-serif;
}
.formulario input {
  padding: 5px;
  width: 400px;
  font-size: x-large;
  border-radius: 20px;
  margin: 10px;
  display: block;
  font-family: "Be Vietnam Pro", sans-serif;
}
#btnSubmit {
  width: 410px;
  font-weight: bold;
  margin-top: 30px;
  border: 2px solid rgb(255, 176, 127);
  background-color: #00343d;
  color: rgb(255, 176, 127);
}
#btnSubmit:hover {
  background-color: #d0ecee;
  color: #00343d;
  font-weight: bold;
}
/* main sección de Sobre nosotros html */
.mainAboutUs {
  width: 100%;
  padding: 30px;
  height: 90vh;
  background-color: rgb(255, 176, 127);
}
.textoNosotros {
  padding: 50px;
  height: 80vh;
  text-align: center;
  background-color: #00343d;
  color: rgb(255, 176, 127);
  border-radius: 200px;
}
.mainAboutUs h2 {
  text-align: center;
  font-size: 50px;
  font-family: "Be Vietnam Pro", sans-serif;
}
.mainAboutUs p {
  width: 100%;
  font-size: larger;
  text-align: center;
  color: #d0ecee;
  margin-top: 30px;
  font-family: "Oleo Script", sans-serif;
}
/* main sección del blog html */
.tituloBlog {
  margin-top: 80px;
  font-family: "Oleo Script", sans-serif;
  color: #1f5761;
}
.mainBlog {
  width: 100%;
  height: 80vh;
  text-align: center;
  background-color: rgb(255, 176, 127);
}
.containerCards {
  width: 100%;
  display: flex;
}
.card {
  margin: 30px;
  width: 30%;
  background-color: #054a50;
  border-radius: 20px;
  cursor: pointer;
}
.imgBlog {
  height: 300px;
  width: 100%;
  border-radius: 20px;
}
.nombreBlog {
  margin: 10px;
  font-size: 30px;
  color: #d0ecee;
}
.card p {
  font-size: larger;
  margin: 10px;
  color: aliceblue;
}
footer h3 {
  font-family: "Times New Roman", Times, serif, sans-serif;
  font-weight: bold;
}
footer p {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

@media (max-width: 800px) {
  .container-hero {
    padding: 0;
  }
  body {
    background-color: rgb(255, 176, 127);
  }
  .container-fluid {
    width: 80%;
  }
  .titulo {
    font-size: 40px;
  }
  main p {
    padding: 0;
    margin-top: 0;
    font-size: 30px;
  }
  .container-hero img {
    width: 200px;
    height: 350px;
  }
  .div-hero {
    height: 50vh;
  }
  .icono {
    width: 40px;
    margin: 0;
  }

  .container-main {
    height: 100vh;
  }
  .img-hero {
    margin-top: 30px;
  }
  .container-fluid {
    --bs-gutter-x: 0;
  }
  .container {
    --bs-gutter-x: 0;
  }
  .card {
    width: 90%;
  }
  footer a {
    width: 50px;
    margin-left: 20px;
  }
  footer h3 {
    font-size: 20px;
  }
  footer p {
    font-size: 13px;
  }
  footer {
    position: relative;
  }
}

@media (min-width: 600px) and (max-width: 1200px) {
  .container-hero {
    margin-top: 100px;
    padding: 0;
  }
  body {
    background-color: rgb(255, 176, 127);
  }
  .container-fluid {
    width: 100%;
  }
  .titulo {
    font-size: 40px;
  }
  main p {
    padding: 0;
    margin-top: 0;
    font-size: 30px;
  }
  .container-hero img {
    width: 200px;
    height: 350px;
  }
  .div-hero {
    height: 50vh;
  }

  .container-main {
    height: 100vh;
  }
  .img-hero {
    margin-top: 30px;
  }
  .container-fluid {
    --bs-gutter-x: 0;
  }
  .container {
    --bs-gutter-x: 0;
  }
}
